main {
    padding-top: 80px;
}

.item-nav {
    width: 100%;
}

.item-nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
}

.item-nav ul h3 {
    text-transform: uppercase;
}

.item-nav ul ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    column-gap: 10px;
    padding-left: 40px;
}

.item-nav ul ul li {
    width: fit-content;
    list-style: circle;
}

.item-nav ul ul li a {
    display: block;
    width: fit-content;
    padding: 5px;
    transition: color 0.3s ease;
}