main {
    padding-top: 80px;
}

.item-nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    list-style: none;
}

.item-nav ul h3 {
    text-transform: uppercase;
}

.item-nav ul ul {
    padding-left: 40px;
}

.item-nav ul ul li {
    list-style: circle;
}

.item-nav ul ul li a {
    display: block;
    width: fit-content;
    padding: 5px;
    transition: color 0.3s ease;
}

.item-nav ul ul li a:hover {
    color: green;
}