header, .wrapper-links {
    display: none;
}

html {
    background: white;
    color: black;
}

main, .wrapper {
    padding: 0;
}

.wrapper {
    background: none;
    box-shadow: none;
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

article {
    page-break-before: always;
    background-color: var(--grey-2);
}

article:nth-child(1) {
    page-break-before: avoid;
}

.highlight {
    color: var(--blue-1);
}

.highlight:after {
    content: ' (' attr(href) ')';
}