header,
footer,
.wrapper-links {
    display: none;
}

:root {
    font-size: 0.9rem;
}

html {
    background: white;
    color: black;
}

main, .wrapper {
    padding: 0;
}

.wrapper {
    background: none;
    box-shadow: none;
}

pre, code {
	overflow: hidden;
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

article {
    page-break-before: always;
    background-color: var(--grey-2);
}

article:nth-child(1) {
    page-break-before: avoid;
}

.print-link:after {
    content: ' (' attr(href) ')';
}