header {
    position: fixed;
    width: 100%;
    padding: 0 clamp(20px, 15dvw, 200px);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: var(--radius-1);
}

.header-wrapper > nav {
    width: 100%;
}

.header-wrapper > a {
    min-width: fit-content;
}

.guide-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    gap: 10px;
}

.guide-list > li  {
    display: flex;
    flex: 1 1 fit-content;
    list-style: none;
}