@property --green-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(0, 203, 121, 1);
}

@property --green-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(40, 167, 69, 1);
}

@property --green-3 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(0, 128, 0, 1);
}

@property --blue-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(0, 123, 255);
}

@property --blue-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(0, 170, 255, 1);
}

@property --blue-3 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(0, 200, 255, 1);
}

@property --grey-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(242, 242, 242, 1);
}

@property --grey-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(250, 250, 250, 1);
}

@property --orange-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(255, 170, 0, 1);
}

@property --radius-1 {
    syntax: "<length>";
    inherits: true;
    initial-value: 8px;
}

/*GENERIC*/
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: "Baloo Paaji 2", serif;
    font-size: 1.1rem;
    scrollbar-color: lightgrey white;
    scroll-behavior: smooth;
    scroll-padding-top: clamp(50px, 10dvh, 200px);
}

html, body, header, main, footer, section, article, input, h1, h2, h3, h4, li, i, p, a, pre, code {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--green-1);
    text-transform: uppercase;
}

h2 {
    color: var(--green-1);
    text-transform: uppercase;
}

html {
    background-color: var(--grey-1);
    background-image: url("https://basque.devcamp.com/assets/background-footer-cf669f3b75617a2438a123e2b1af8befdfc079908430bef6f29f42f14e3f596e.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    min-height: 100dvh;
    transition: background-color 0.3s ease;
}

main {
    padding: clamp(50px, 20dvh, 200px) clamp(20px, 15dvw, 200px) 80px clamp(20px, 15dvw, 200px);
}

footer {
    padding: 30px clamp(20px, 15dvw, 200px) 80px clamp(20px, 15dvw, 200px);
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--radius-1);
    padding: 10px 20px;
    width: 100%;
}

article:nth-child(even) {
    border-left: 5px solid var(--orange-1);
}

article:nth-child(odd) {
    border-left: 5px solid var(--blue-2);
}

ul {
    margin: 0;
    padding-left: 25px;
}

img {
    max-width: 100%;
}

iframe {
    border: none;
    border-radius: var(--radius-1);
}

pre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

code {
    background-color: var(--grey-1);
    border-radius: var(--radius-1);
    padding: 10px;
}

i {
    --fa-display: flex;
    align-items: center;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/*SPECIFIC*/
.headland-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 10px;
}

.headland-wrapper ul {
    display: flex;
    gap: 10px;
    background-color: var(--grey-2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0px 20px;
    gap: 30px;
}

.headland-wrapper ul li {
    list-style: none;
}

.headland-wrapper ul li a {
    transition: color 0.3s ease;
}

.headland-wrapper ul li a::after {
    display: block;
    content: "";
    width: 0%;
    border-top: 2px solid var(--green-1);
    transition: width 0.3s ease, border 0.3s ease;
}

.headland-wrapper ul li a:hover::after {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--grey-2);
    border-radius: var(--radius-1);
    padding: 40px;
    gap: 20px;
}

/*REUSABLE*/
.highlight { /*Added by Javascript*/
    color: var(--blue-2);
    transition: color 0.3s ease;
}

.highlight:hover {
    color: var(--blue-1);
}

.expose { /*Added by Javascript*/
    color: var(--green-1);
}

/*JAVASCRIPT*/
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navigation-wrapper.collapse {
    transform: translateY(-100%);
    opacity: 0;
}

.navigation-list {
    display: flex;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.navigation-list li {
    width: 100%;
}

.navigation-list li a {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: clamp(5px, 1.5dvh, 30px) 20px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease, color 0.3s ease;
}

.navigation-list li a:hover {
    color: var(--green-1);
}

.control {
    display: block;
    position: fixed;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    opacity: 1;
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.control::first-letter {
    text-transform: uppercase;
}

.control:hover {
    color: var(--green-1);
}

.back-control {
    border-radius: 0 var(--radius-1) var(--radius-1) 0;
    top: 50dvh;
    left: 0;
}

.next-control {
    border-radius: var(--radius-1) 0 0 var(--radius-1);
    top: 50dvh;
    right: 0;
}

.back-control.collapse {
    transform: translateX(-100%);
    opacity: 0;
}

.next-control.collapse {
    transform: translateX(100%);
    opacity: 0;
}

/*MENU*/
.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    opacity: 1;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-wrapper.collapse {
    transform: translateY(100%);
    opacity: 0;
}

.menu-links {
    display: flex;
    padding-left: 0;
    border-radius: var(--radius-1) var(--radius-1) var(--radius-1) 0;
    gap: 10px;
}

.menu-links > li {
    list-style: none;
}

.menu-links > li > a {
    display: block;
    padding: 5px 15px;
    border-radius: var(--radius-1);
    text-align: center;
    color: white;
    background-color: var(--blue-2);
}

.menu-config {
    display: flex;
    align-items: center;
    border-radius: var(--radius-1) var(--radius-1) 0 var(--radius-1);
    gap: 10px;
}

[class*="slider"] {
    appearance: none;
    user-select: none;
    cursor: pointer;
    background-color: var(--blue-2);
    border-radius: 2rem;
    height: 2rem;
}

[class*="slider"]::-webkit-slider-thumb {
    appearance: none;
    background-color: white;
    border: 3px solid var(--blue-2);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
}

.links-path-changer {
    display: block;
    padding: 5px 10px;
    border-radius: var(--radius-1);
    text-align: center;
    color: white;
    user-select: none;
}