.grids {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grids div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    gap: 5px;
}

.grids div:nth-child(1) span {
    background-color: rgba(0, 242, 255, 0.2);
    border-radius: var(--radius-1);
}

.grids div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-auto-flow: column;
    align-items: stretch;
    text-align: center;
    gap: 5px;
}

.grids div:nth-child(2) span {
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: var(--radius-1);
}