/* THIS IS THE COMMON CSS FOR TAGS */

/* APPROACH TO RESET SOME PROPERTIES */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    line-height: 1.5;
    font-size: 1.2rem;
    color: white;
}


/* GENERAL PROPERTIES */
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

span {
    transition: color 0.3s ease;
}

button {
    background: none;
    border: none;
}

strong {
    font-weight: 700;
}

a:hover {
    color: rgb(166, 238, 32);
}

a:hover span {
    color: rgb(166, 238, 32);
}