header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
    height: auto;
    border-color: rgb(155, 154, 154);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
}

.header-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    text-wrap: nowrap;
    padding: 10px;
}

.header-mid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    text-wrap: nowrap;
    padding: 10px;
    margin-left: 20px;
}

.header-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    text-wrap: nowrap;
    width: 100%;
    padding: 10px;
}

.header-logo {
    cursor: pointer;
    stroke: rgb(255, 255, 255);
    stroke-width: 2.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 200px;
}

.header-span {
    text-transform: uppercase;
    padding: 2px 10px;
    color: rgb(227, 227, 5);
}

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    align-items: center;
    padding: 2px 10px;
    gap: 20px;
}

.header-list-item {
    font-weight: 900;
    font-size: larger;
}

.header-extra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    text-wrap: nowrap;
}

.header-only {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    align-items: flex-start;
    text-wrap: nowrap;
    width: 100%;
    margin: 0px 20px;
    padding: 2px 10px;
    gap: 10px;
}

.header-only > a {
    color:rgb(185, 185, 185);
    font-weight: 400;
    font-size: larger;
}

.header-only > svg {
    cursor: pointer;
    stroke: rgb(255, 255, 255);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 30px;
}

.header-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    height: 45px;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    background-color:rgb(87, 87, 87);
    transition: background 0.3s ease;
}

.header-button:hover {
    background-color: rgb(152, 152, 152);
}

.header-button > svg {
    cursor: pointer;
    fill: none;
    stroke: rgb(12, 124, 0);
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 30px;
}

.magnifying-svg {
    cursor: pointer;
    stroke: rgb(185, 185, 185);
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 30px;
}