/* THIS IS THE CSS FOR BODY > HEADER */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-color: rgb(155, 154, 154);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 10px 30px;
    gap: 20px;
}

.header-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
}

.header-left {
    align-items: center;
}

.header-mid {
    align-items: flex-start;
}

.header-right {
    align-items: flex-end;
}

.header-logo {
    cursor: pointer;
    stroke: rgb(255, 255, 255);
    stroke-width: 2.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 300px;
}

.header-extra {
    display: flex;
    flex-direction: row;
}

.header-extra > span {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 10px;
    color: rgb(227, 227, 5);
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
}

.header-list > li {
    font-weight: 900;
}

.header-only {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 20px;
    padding: 0px 10px;
    gap: 10px;
}

.header-only > a {
    color:rgb(185, 185, 185);
    font-weight: 600;
}

.header-only > a:hover {
    color: rgb(32, 97, 238);
}

.header-only > svg {
    cursor: pointer;
    stroke: rgb(185, 185, 185);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 40px;
    transition: stroke 0.3s ease;
}

.header-only > svg:hover {
    stroke: rgb(32, 97, 238);
}

.header-button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
}

.header-button-wrapper > button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 5px;
    background-color:rgb(73, 73, 73);
    transition: background-color 0.3s ease;
}

.header-button-wrapper > button:hover {
    background-color: rgb(126, 126, 126);
}

.header-button-wrapper > button > svg {
    cursor: pointer;
    fill: none;
    stroke: rgb(20, 204, 0);
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 40px;
}

.magnifying-svg {
    cursor: pointer;
    stroke: rgb(126, 126, 126);
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 55px;
}