/* THIS IS THE CSS FOR BODY > MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 80px;
    background: linear-gradient(45deg, #535353 10%, #171717 90%);
}

.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
    gap: 200px;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    text-wrap: wrap;
    gap: 20px;
}

.main-text {
    font-size: 2rem;
    color: rgb(211, 211, 211);
}

.main-text > strong {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.sub-text {
    font-size: 1.6rem;
    color: rgb(211, 211, 211);
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
    gap: 5px;
}

.image-wrapper > p{
    font-weight: 600;
}

.image-wrapper > img{
    width: 600px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    align-items: flex-start;
    text-wrap: nowrap;
    gap: 20px;
}

.button-wrapper > button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 5px;
    background-size: 300%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-position 0.5s ease;
}

.green-button {
    background-image: linear-gradient(90deg, rgb(16, 173, 81) 12.5%, rgb(16, 173, 81) 37.5%, #00ff4c 62.5%, #d9ff00 87.5%);
    color: black;
}

.black-button {
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 37.5%, #000734 62.5%, #0047ab 87.5%);
    color: white;
}

.button-wrapper > button:hover {
    background-position-x: 100%;
}

.main-text-indent {
    text-indent: 20px;
}

.main-text-special {
    color: rgb(0, 159, 190);
}