.result .color-list li:nth-child(1) {
    color: rgba(30, 41, 59, 1);
}

.result .color-list li:nth-child(2) {
    color: rgba(100, 116, 139, 1);
}

.result .color-list li:nth-child(3) {
    color: rgba(2, 132, 199, 1);
}

.result .color-list li:nth-child(4) {
    color: rgba(51, 65, 85, 1);
}

.result .color-list li {
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.result .color-list {
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(75, 108, 193, 0.1), rgba(255, 255, 255, 1) 100%);
    padding: 5px 5px 5px 30px;
}